.hoverHere {
    text-decoration: underline;
}

.hoverHere:hover {
    cursor: pointer;
    color: #f26666;
}

@font-face {
    font-family: 'VT323';
    src: url('../../assets/fonts/VT323-Regular.woff') format('woff2'), url('../../assets/fonts/VT323-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.play-main {
    margin-top: 30px;
}

.cheese-docs {
    background-image: url(../../assets/images/pink.png);
    background-size: 100% 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.cheese-docs p {
    font-family: 'VT323';
    font-size: 25px;
}

.cheese-btn {
    background-image: url(../../assets/images/small.png);
    background-size: 100% 100%;
    color: #000 !important;
    padding: 20px !important;
    font-size: 20px;
    font-family: 'VT323';
}

.yellow-play {
    background-image: url(../../assets/images/yellow-play-bg.svg);
    background-size: 100% 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 10px;
}

.yellow-play .img-container {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.yellow-play p {
    font-family: 'VT323';
    color: #000;
    font-size: 20px;
}

.yellow-play .wallet-btn {
    background-image: url(../../assets/images/black-bg.png);
    background-size: 100% 100%;
    padding: 25px 20px !important;
    font-size: 25px;
    font-family: 'VT323';
    margin-bottom: 0px !important;
    margin-top: 0px!important;
}


.play-game-connect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.data-sub span{
    color: #000;
    font-family: 'VT323';
    font-size: 20px;
}

.modal-bg-main{
    background-image: url(../../assets/images/modal-play.png) !important;
    background-size: 100% 100%;
    background-color: transparent !important;
    padding: 40px 50px;
}

.modal-content{
    background-color: transparent !important;
    border: none !important;
}

.modal-bg-main p{
    color: #000 !important;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'VT323';
}

.stake-wallet-btn{
    font-family: 'VT323';
    background-image: url(../../assets/images/black-bg-play.png);
    background-size: 100% 100%;
    color: #fff !important;
    width: 100% !important;
    align-self: center;
    justify-self: center;
    padding: 30px 30px !important;
    border: none !important;
    border-radius: 0;
}

.mt-25{
    margin-top:25px !important
}

.play-timer{
    margin-top: 0px !important;
    font-family: 'VT323';
    color: #000 !important;
    display: flex;
    justify-content: center;
}

.mini-modal-1{
    background-image: url(../../assets/images/mini-modal.png);
    background-size: 100% 100%;
    padding: 50px 50px;
    color: #000;
    font-family: 'VT323';
}

.caution{
    text-align: center;
    color: #D41F56;
}

.play-table-container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 40px;
}

.play-table-container h1{
    color: #000;
    font-family: 'VT323';
    font-size: 44px;
    font-weight: normal;
}

.play-table{
    background-color: #FDFFF4;
    box-shadow: 6px 7px 0 #8080807a;
}

.play-table  table thead tr th{
    font-family: 'VT323';
    font-size: 25px;
    color: #FFAC01;
    font-weight: normal;
    line-height: 60px;
    height: 60px;
}

.play-table  table thead tr {
    border-color: #FFAC01;
}

.play-table  table tbody tr td{
    color: #000 !important; 
}

.play-table  table tbody tr td span{
    color: #000 !important;
}

.play-table  table tbody tr {
    border-color: #FFAC01;
    border-style: solid;
}

.caution p{
    font-size: 20px;
}

.list{
    text-align: left;
}

.list span{
    font-size: 18px;
}

.list p{
    margin-bottom: 0;
}

.mini-tab ul{
    border-bottom: 2px solid #000;
    padding-bottom: 1px;
}

.mini-tab ul li button{
    border: none !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    font-size: 20px;
    color: gray;
}

.mini-tab ul li button:hover{
    color: gray;
}

.green{
    background-image: url(../../assets/images/mini-green.png);
    background-size: 100% 100%;
    padding: 20px;
}

.mini-def{
    column-gap: 5px;
    color: #000;
    font-family: "VT323";
    font-size: 20px;
}

.stake-button{
    background-size: 100% 100%;
    background-image: url(../../assets/images/mini-wight.png);
    padding: 30px 30px !important;
    width: fit-content;
    border-radius: 0 !important;
    margin-top: 23px !important;
    color: #000 !important;
    font-family: "VT323" !important;
    font-size: 20px !important;
}

.mini-tab .pink{
    background-image: url(../../assets/images/pink-btn.png);
    background-size: 100% 100%;
    border-radius: 0 !important;
}

.mini-tab .pink span{
    color: #fff !important;
}

@media (max-width: 1666px) {
    .btn2{
        flex-direction:column;
    }
    .stake-button{
        margin-top: 10px !important;
    }
}

@media (max-width: 425px) {
    .cheese-docs{
        flex-direction: column;
    }
    .cheese-docs button{
        margin-top: 20px;
    }
}

.bg-pink-header{
    background-color: #D41F56;
    box-shadow: 5px 5px 0px #A2143F;
    color: #ffff !important;
    padding: 10px 0;
}

.white-header{
    background-color: #E5E5E5;
    box-shadow: 5px 5px 0px #939393;
    padding: 10px 0;
    text-align: center;
}

.white-header span{
    color: #000;
    font-size: 15px;
}

.white-header h1{
    font-weight: 800;
}

.unstake-modal{
    background-image: url(../../assets/images/unstakmodal.png);
    background-size: 100% 100%;
    padding: 40px 60px !important;
    color: #000;
    font-family: "VT323";
    text-align: center;
}

.unstake-modal .unsstake-result-header p{
    font-size: 20px;
}

.unstake-modal .unsstake-result-header, .last-modal-header{
    text-align: center;
}

.text-yellow{
    color: rgb(196, 196, 25) !important;
}

.breen-mc{
    background-color: #5ECA70;
    box-shadow: 5px 5px 0px #008d18;
}

.breen-mpuse{
    background-color: #7DD88D;
    text-align: center;
}

.text-bg-green{
    background-color: #7DD88D;
}

.sum-def{
    font-size: 20px;
}
.text{
    text-align: center;
}

.pink-mc{
    background-color: #D41F56;
    box-shadow: 5px 5px 0px #a70e3c;
}

.text-bg-pink{
    background-color: #E2557F;
}

.pink-mpuse{
    background-color: #E2557F;
}


.last-btn{
    background-color: #E5E5E5 !important;
    box-shadow: 5px 5px 0px #939393 !important;
    border-radius: 0 !important;
    color: #000 !important;
}

.last-modal{
    background-image: url(../../assets/images/last-modal-bg.png);
    background-size: 100% 100%;
    padding: 30px 50px;
    color: #000;
    font-family: "VT323";
}

.last-modal-header p{
    font-size: 20px;
}

.text-gren-last{
    color: #7DD88D !important;
}

.result-left span{
    font-size: 20px;
}

.result-right{
    text-align: center;
}

.result-box{
    background-color: #ffff;
    padding: 15px;
    border: 2px solid rgb(218, 218, 15);
}

.pagination1 .short{
    padding: 0;
    font-family: 'VT323';
    color: #FFAC01;
    background-color: transparent !important;
    border: none;
    font-size: 20px;
    box-shadow: none !important;
  }
  
  .pagination-btns{
    column-gap: 5px;
  }
  
  .pagination-btns button{
    padding: 0;
    background-color: transparent !important;
    border: none;
    box-shadow: none !important;
  }
  
  .pagination-btns .pages{
    border: 2px solid gray;
    color: gray;
    padding: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }
  
  .pagination-btns button{
    color: gray;
  }
  
  .pagination-btns .pages.active{
    background-color: #FFAC01 !important;
    color: #000 !important;
    border: 2px solid #FFAC01;
  }
  
  .pagination1{
    padding-bottom: 18px;
    border: none !important;
    display: flex;
    justify-content: center;
  }


  .dashed-border{
    
    border-bottom: 1px dashed #000000;
  }

  .dashed-border .data-text{
    font-size: 20px;
    line-height: 20px;
    color: #292828;
    border-bottom: 1px solid #ffd441;
    margin-bottom: -1px;
  }

  .dashed-border .data-empty{
    border-bottom: 1px dashed #000000;
  }

  @media (max-width: 425px) {
      .result-box-sub{
          display: flex;
          flex-direction: column !important;
      }
      .last-modal{
        padding: 50px 25px !important;
      }
      .unstake-modal{
          padding: 40px !important;
      }
  }

