.hoverHere {
    text-decoration: underline;
}

.hoverHere:hover {
    cursor: pointer;
    color: #f26666;
}

@font-face {
    font-family: 'VT323';
    src: url('./VT323-Regular.woff') format('woff2'), url('./VT323-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.play-main {
    margin-top: 30px;
}

.cheese-docs {
    background-image: url(pink.png);
    background-size: 100% 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.cheese-docs p {
    font-family: 'VT323';
    font-size: 25px;
}

.cheese-btn {
    background-image: url(./small.png);
    background-size: 100% 100%;
    color: #000 !important;
    padding: 20px !important;
    font-size: 20px;
    font-family: 'VT323';
}

.yellow-play {
    background-image: url(yellow-play.png);
    background-size: 100% 100%;
    padding: 20px !important;
    height: 100%;
}

.yellow-play p {
    font-family: 'VT323';
    color: #000;
    font-size: 20px;
}

.yellow-play .wallet-btn {
    background-image: url(black-bg.png);
    background-size: 100% 100%;
    padding: 25px 20px !important;
    font-size: 25px;
    font-family: 'VT323';
    margin-bottom: 30px !important;
}

.data-sub span{
    color: #000;
    font-family: 'VT323';
    font-size: 20px;
}

.modal-bg-main{
    background-image: url(modal-play.png) !important;
    background-size: 100% 100%;
    background-color: transparent !important;
    padding: 40px 50px;
}

.modal-content{
    background-color: transparent !important;
    border: none !important;
}

.modal-bg-main p{
    color: #000 !important;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'VT323';
}

.stake-wallet-btn{
    font-family: 'VT323';
    background-image: url(green-btn-bg.png);
    background-size: 100% 100%;
    color: #000 !important;
    width: 100% !important;
    max-width: 100%;
    align-self: center;
    justify-self: center;
    padding: 20px 0 !important;
    border: none !important;
}

.play-timer{
    margin-top: 0px !important;
    font-family: 'VT323';
    color: #000 !important;
    display: flex;
    justify-content: center;
}

.mini-modal-1{
    background-image: url(mini-modal.png);
    background-size: 100% 100%;
    padding: 50px 50px;
    color: #000;
    font-family: 'VT323';
}

.caution{
    text-align: center;
    color: #D41F56;
}

.caution p{
    font-size: 20px;
}

.list{
    text-align: left;
}

.list span{
    font-size: 18px;
}

.list p{
    margin-bottom: 0;
}

.mini-tab ul{
    border-bottom: 2px solid #000;
    padding-bottom: 1px;
}

.mini-tab ul li button{
    border: none !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    font-size: 20px;
    color: gray;
}

.mini-tab ul li button:hover{
    color: gray;
}

.green{
    background-image: url(mini-green.png);
    background-size: 100% 100%;
    padding: 20px;
}

.mini-def{
    column-gap: 5px;
    color: #000;
    font-family: "VT323";
    font-size: 20px;
}

.stake-button{
    background-size: 100% 100%;
    background-image: url(mini-wight.png);
    padding: 20px;
    width: fit-content;
    border-radius: 0 !important;
    margin-top: 15px !important;
    color: #000 !important;
    font-family: "VT323" !important;
    font-size: 20px !important;
}

.mini-tab .pink{
    background-image: url(pink-btn.png);
    background-size: 100% 100%;
    border-radius: 0 !important;
}

.mini-tab .pink span{
    color: #fff !important;
}

@media (max-width: 425px) {
    .cheese-docs{
        flex-direction: column;
    }
    .cheese-docs button{
        margin-top: 20px;
    }
}