.dapp-topbar {
  width: 100%;
  align-items: center;
  button {
    white-space: nowrap !important;
    overflow: hidden !important;
    margin-left: 6px !important;
    min-width: fit-content !important;
    &#hamburger {
      padding: 11px !important;
    }
    &.toggle-button {
      padding: 9.5px !important;
    }
  }
}
.tablet .dapp-topbar {
  justify-content: space-between;
}
.pending-txn-container {
  display: flex;
  align-items: center;
  background-image: url(contact.png);
  background-size: 100% 100%;
  border: none;
  color: #000 !important;
  font-size: 20px;
  border-radius:0;
  border: none !important;
  box-shadow: none !important;
  .MuiButton-label {
    margin-right: 0;
    transition: all 0.33s ease-out;
  }
}
#cheez-popper-pending {
  .MuiPaper-root.cheez-menu {
    a {
      padding-right: 20px !important;
    }
  }
}
.caret-down {
  position: absolute;
  right: 0.4rem;
}
.hovered-button {
  .MuiButton-label {
    margin-right: 0.5rem;
    transition: all 0.33s ease-out;
  }
}


//
.header{
  background-image:url(header.png);
  background-size: 100% 100%;
  width: 100%;
  padding: 8px 20px;
  font-family: 'VT323';
  position: fixed;
  top: 0;
  left: 0;
}



.header .logo h1{
  color: #fff;
  font-weight: 400;
}

.header .connect,
.connect2{
  background-image: url(contact.png);
  background-size: 100% 100%;
  border: none;
  color: #000 !important;
  font-size: 20px;
  border-radius:0;
  border: none !important;
  box-shadow: none !important;
}

.gap{
  column-gap: 20px;
}

.connect2{
  display: none !important;
}

.toggle{
  background-color: transparent !important;
  font-size: 30px !important;
  color : #fff;
  border: none !important;
  box-shadow: none !important;
  display: none !important;
  display: flex;
  align-items: center;
  padding: 0 !important;
  z-index: 999;
}

.toggle span{
  display: flex;
}

.ip-address{
  z-index: 999;
  color: #fff;
  margin-right: 230px !important;
    margin-top: 20px !important;
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}

.cheez-menu{
  font-size: 20px !important;
}

#cheez-menu-button{
  padding: 9px;
}

#cheez-menu-button:hover{
  background-color:#FFAC01 !important;
}

.cheese-modal{
  background-image: url(modal-bg.png);
  background-size: 100% 100%;
  position: fixed !important;
  padding: 44px 32px 21px 18px;
  top: 20px !important;
  right: -50px !important;
  width: 300px !important;
  text-align: center;
}

.cheese-modal p{
  font-size: 20px;
  margin-bottom: 0;
}

.bg-dark{
  background-color: rgba(54, 56, 64, 0.4);
  color: #fff !important;
  padding-bottom: -2px;
  box-shadow: none !important;
}

.bg-dark3{
  background-color: rgba(54, 56, 64, 0.4);
  color: #fff !important;
  padding-bottom: -2px;
  box-shadow: none !important;
  display: none !important;
}

.buy{
  background-image: url(green.png);
  background-size: 100% 100%;
  padding: 20px;
  width: 100%;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  font-size: 20px;
  color: #000 !important;
}

.yellow-box{
  background-image: url(yellow-box.png);
  background-size: 100% 100%;
  padding: 10px 20px;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  font-size: 20px;
  color: #000 !important;
}

@media (max-width: 1300px ) {
  .toggle{
        display: block !important;
  }
  .ip-address{
    margin-right: 262px !important;
  }
}

@media (max-width : 991px) {
.bigbox1, .box1{
   margin-top: 20px;
} 
.ip-address{
  display: none;
}
}

@media (max-width: 478px) {
  .connect{
        display: none !important;
  }
  .connect2{
        display: block !important;
  }
  .gap{
        column-gap: 0px;
  }
  .bg-dark{
    display: none !important;
  }
  .bg-dark3{
    display: block !important;
  }
  .deck{
    display: none !important;
  }
  .header .logo h1{
    display: none;
  }
}