#stake-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .hover:hover {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .rebase-timer {
    margin: 0 !important;
    line-height: 110% !important;
  }

  .stake-tab-buttons {
    margin-bottom: 0.25rem;
  }

  .stake-table-panel,
  .stake-tab-panel > div.MuiBox-root {
    width: 100%;
    padding: 0;
  }
  .mobile .stake-tab-panel,
  .mobile .stake-tab-panel > div.MuiBox-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
  }

  .cheez-card .header {
    min-height: 3em;
  }
  .cheez-card.secondary .card-header {
    min-height: 33px !important;
    height: 20px;
  }
  .stake-note {
    text-align: center;
    font-style: italic;
  }
}

.migrate-scheez-button {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1em;
  display: flex;
  align-items: center;
  color: #f08080;
  line-height: 30px;
  svg {
    margin-right: 8px;
    color: inherit;
  }
}

.migrate-scheez-button.complete {
  color: #35ee66 !important;
}

.stake-top-metrics {
  display: flex;
  width: 100%;
  padding: 0;
  text-align: center;
  margin-top: 10px;
  h5 {
    font-weight: 400;
  }
  h4 {
    font-weight: 500;
  }
  .stake-apy,
  .stake-tvl,
  .stake-index {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-overflow: ellipsis;
    // white-space: nowrap;
    overflow: hidden;
  }
}

.mobile .stake-top-metrics {
  .stake-apy,
  .stake-tvl,
  .stake-index {
    align-items: flex-start;
  }
}

.cheez-logo-tiny {
  height: 14px;
  width: 14px;
  vertical-align: middle;
  background-color: transparent;
  align-self: center;
  justify-self: center;
}

.logo-holder {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  background: none;
  border: 0 !important;
  border-radius: inherit;
  color: #555;
}

.stake-action-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
}

.stake-action-row {
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding-bottom: 1rem;
}

.mobile .stake-action-row {
  justify-content: center;
}

.stake-action-row [role="tabpanel"] {
  width: 99%;
  min-width: 162px;
  max-width: 220px;
  margin: 5px;
}

.mobile .stake-action-row {
  flex-direction: column;
  [role="tabpanel"] {
    max-width: 100%;
    width: 100% !important;
  }
}

.cheez-input {
  max-width: 542px;
  width: 100%;
  margin: 5px !important;
}

.stake-button {
  align-self: center;
  width: 100%;
  min-width: 163px !important;
  max-width: 542px !important;
  height: 43px !important;
}

.mobile .stake-button {
  width: 100% !important;
  max-width: 542px;
  align-self: center;
  justify-self: center;
}

.staking-area {
  margin: 13px 10px 13px 10px;
}

.stake-lp-button {
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  svg {
    margin-left: 4px;
    vertical-align: middle;
    font-size: 1.1em;
  }
  &:hover {
    svg {
      color: inherit;
    }
  }
}

.stake-user-data {
  justify-content: center;
  margin: auto;
  padding: 0 5px;
}

.tablet .stake-pool,
.mobile .stake-pool {
  .pool-card-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .cheez-pairs p {
      margin-bottom: 0 !important;
    }
  }

  .pool-data {
    margin-top: 15px;
    width: 100%;
    .pool-data-row {
      display: flex;
      justify-content: space-between;
      line-height: 225%;
    }
  }
  .stake-lp-button {
    margin-top: 10px;
    svg {
      margin-left: 10px !important;
    }
  }
}

.stake-wallet-notification {
  text-align: center;
  .wallet-menu {
    text-align: center;
    .connect-button {
      max-width: 300px !important;
      min-width: 240px !important;
      margin-bottom: 15px;
    }
  }
}

// redevelop

.market-main{
  margin-top: 30px;
}

.gap{
  column-gap: 20px;
}

.floor-box{
  background-image: url(../../assets/images/yellow.png);
  background-size: 100% 100%;
  padding: 20px;
}

.floor-text span{
  color: gray;
  font-size: 20px;
  font-family: 'VT323';
}

.floor-text h3{
  font-family: 'VT323';
  color: #000;
  margin-bottom: 0;
  margin-top: 15px;
}

.main-btn-box{
  border-bottom: 3px solid #000;
  display: flex;
  flex-wrap: wrap;
}

.main-btn-box button{
  padding: 0 15px;
  border: none;
  color: #000 !important;
  box-shadow: none !important;
  display: flex;
  font-family: 'VT323';
  align-items: center;
  column-gap: 15px;
  border-radius: 0;
  background-color: transparent !important;
  cursor: pointer;
}

.main-btn-box button.active{
  background-color: #292828 !important;
  color: #fff !important;
}

.pagination .short{
  padding: 0;
  font-family: 'VT323';
  color: #FFAC01;
  background-color: transparent !important;
  border: none;
  font-size: 20px;
  box-shadow: none !important;
}

.pagination-btns{
  column-gap: 5px;
}

.pagination-btns button{
  padding: 0;
  background-color: transparent !important;
  border: none;
  box-shadow: none !important;
}

.pagination-btns .pages{
  border: 2px solid gray;
  color: gray;
  padding: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}

.pagination-btns button{
  color: gray;
}

.pagination-btns .pages.active{
  background-color: #FFAC01 !important;
  color: #000 !important;
  border: 2px solid #FFAC01;
}

.pagination{
  padding-bottom: 18px;
  border-bottom: 2px solid #FFAC01;
}

.table tbody tr td{
  font-family: 'VT323';
  font-size: 20px;
  vertical-align: middle;
  border: none !important;
}

.table tbody tr td span{
  color: gray;
}

.table tbody tr.active{
  background-color: #FFE794 !important;
}

.table .by{
  background-color: transparent !important;
  color: #000 !important;
  border: none;
  background-image: url(../../assets/images/yellow.png);
  background-size: 100% 100%;
  font-size: 20px;
}

.bold{
  font-weight: bold;
}

.sales h3{
  font-family: 'VT323';
  color: #000;
  font-size: 40px;
}

.sales-box{
  text-align: center;
  background-image: url(../../assets/images/wight-bg.png);
  background-size: 100% 100%;
  padding: 20px 30px 30px 30px;
}

.sales-box span{
  color: #000;
  font-size: 20px;
  font-family: 'VT323';
  display: block;
}

.box-total h5{
  color: gray !important;
  font-family: 'VT323';
}

.no-wrap{
  white-space: nowrap !important;
}

.main{
  background-color: #fff;
  box-shadow: 6px 7px 0 #8080807a;
}

.preview{
  text-align: left;
  padding: 20px 0 10px 0;
}

.preview h2{
  color: #000;
  font-family: 'VT323';
}

.preview span{
  color: #000;
  font-family: 'VT323';
  font-size: 20px;
}

.preview input{
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 3px solid #292828;
  padding: 10px;
}

.approve{
  background-image: url(../../assets/images/green-bg.png);
  background-size: 100% 100%;
  color: #000 !important;
  font-family: 'VT323';
  font-size: 20px;
  border: none;
  box-shadow: none !important;
  background-color: transparent !important;
  border-radius: 0;
}

@media (max-width: 460px) {
  .main-btn-box button{
    width: 100%;
  }
}

@media (max-width: 320px) {
  .pagination{
    flex-direction: column;
    
  }
  .pagination-btns{
    margin: 0 !important;
    margin-top: 20px !important;
    justify-content: center !important;
  }
}